*{

	margin: 0;
	padding: 0;
	border: 0;

}

body{
	background-color: #222;
	font-family: Arial, Helvetica, sans-serif;
}

@font-face{
	font-family: 'Genericons';
	src: url('genericons-regular-webfont.woff')format('woff'), 
	url('fonts/genricons/regular-webfont.eot')format('truetype');
}

.container{
	margin: 50px auto;
	width: 90%;
}

header h1{
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}

ul.accordion{
	background-color: #333;
	width: 100%;
	/* min-width: 800px; */
	display: block;
	list-style-type: none;
	overflow: hidden;
	/* height: 200px; */
	font-size: 0;
}

.tab{
	display: inline-block;
	background-color: #444;
	border-right: #333 solid 1px;
	width: 80px;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin: 0;
	transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover{
	width: 450px;
}
.tab:hover .social a:before{
	margin-left: -100px;
}
.tab:hover .social a:after{
	margin-left: -5px;
}

.content{
	background: #fff;
	width: 360px;
	height: 200px;
	margin-left: 80px;
	position: relative;
	padding: 50px 0 0 15px;
}

.tab .content h1{
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.tab .content p {
	font-size: 0.85rem;
	line-height: 1.4rem;
	padding-right: 30px;
}

.social a:before,
.social a:after{
	transition: all 0.4s ease-in-out 0.1s;
	width: 80px;
	height: 200px;
	position: absolute;
	text-indent: 0;
	padding-top: 90px;
	padding-left: 25px;
	display: block;
	font: normal 30px Genericons;
	color: #fff;
}

.social a:after{
	font-size: 48px;
	padding-left: 20px;
	padding-top: 80px;
	margin-left: 80px;
}

/* Add Icons */
.youtube a:before,
.youtube a:after{
	content: '\f213';
}

.youtube a:after{
	background-color: #ff0000;
}


@media (max-width: 950px){
	body{
		background-color: orange;
	}
	.container{
		width: 90%;
		margin: 50px auto;
	}
	
	.tab{
		display: block;
		width: 100%;
		border-bottom: 3px #333 solid;
	}

	.accordion{
		display: block;
		min-width: 450px;
		height: auto;
	}

	.tab .content{
		width: 85%;
	}
}

@media (max-width: 680px) {
	body{
		background-color: blue;
	}
	.container{
		width: 96%;
	}

	.accordion{
		width: 100%;
		min-width: 350px;
	}
}